.main {
  .form_wrapper {
    border-radius: 4px;
    padding: 22px 20px 0;
    background: #fff;
  }

  .table_container {
    flex: 1;
    margin-top: 22px;
    border-radius: 4px;
    padding: 22px 20px 0;
    background: #fff;
  }

  .table_pagination {
    padding: 10px;
    text-align: right;
  }
}